<h1>Canopy#index</h1>

<p><%= link_to 'Show Usage', { :action => 'show' } %></p>

<p><%= link_to 'Usage Trends', { :action => 'reports' } %></p>

<p><%= link_to 'Top Changes Reports', { :action => 'growers' } %></p>

<% if @flash %>
<div id="Notice" style="Background: #00f; color: #fff; font-size: 14pt;">
  <%= @flash[:notice] %>
</div>
<% end %>
