<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="800" height="600" id="FC_2_3_StckdArea">
<param name="movie" value="/charts/FC_2_3_StckdArea.swf" />
<param name="FlashVars" value="&dataURL=<%= url_for :action => 'report_xml', :id => @params[:id] %>&chartWidth=800&chartHeight=600" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />
<embed src="/charts/FC_2_3_StckdArea.swf" flashvars="&dataURL=<%= url_for :action => 'report_xml', :id => @params[:id] %>&chartWidth=800&chartHeight=600" quality="high" bgcolor="#FFFFFF" width="800" height="600" name="FC_2_3_StckdArea" type="application/x-shockwave-flash" pluginspace="http://www.macromedia.com/go/getflashplayer"></embed>
</object>