/*
  Base stylesheet
  version: 0.0.1
  
*/

/* Default */

body {
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #fff;
}

/* Structural Elements */

#Container {
  
}

#MainFrame {
  
}

#Banner {
  
}