/*
  Base stylesheet
  version: 0.0.1
  
*/

/* Default */

body {
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #f2f2f2;
  padding: 0;
  margin: 20px 20px;
  text-align: center;
}

/* Structural Elements */

#Container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  min-width: 750px;
}

#Banner {
  
}

#Content {
  text-align: left;
  margin-bottom: 20px;
  float: left;
  clear: both;
}

#ContentInside {
  background-color: #fff;
  text-align: left;
  width: 100%;
  padding: 5px;
  border: 1px solid #c2c2c2;
}

#Top {
  width: 100%;
  text-align: left;
  color: #fff;
}

#Top a:link, #Top a:visited {
  text-decoration: underline;
  color: #fff;
}

#Top a:hover {
  color: #005422;
  background-color: #fff;
  text-decoration: none;
}

#Top .accesskey {
  text-decoration: underline;
}

/* TABS */

#Tabs {
  text-align: left;
  float: left;
  clear: both;
  padding: 0;
  width: 74%;
  font-size: 11px;
}

#TabsInside {
  float: left;
  margin: 0 10px 0 0;
  background: #f2f2f2;
}

#Tabs a:link, #Tabs a:visited {
  float: left;
  font-size: 11px;
  font-weight: normal;
  padding: 7px 8px 7px 8px;
  margin: 0;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
}

#Tabs a:link.active, #Tabs a:visited.active {
  float: left;
  background: #FFF;
  color: #333;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  padding: 8px 8px 7px 8px;
  margin-bottom: -1px;
}

#Tabs .active {
  float: left;
  background: #FFF;
  color: #333;
  font-weight: bold;
  font-size: 11px;
  padding: 8px 8px 7px 8px;
  margin-bottom: -1px;
  text-decoration: none;
}

#Tabs a:hover {
  text-decoration: none;
  color: #000;
  padding: 8px 8px 7px 8px;
  margin-bottom: -1px;
}

#Tabs a.float_right, #Tabs .active.float_right {
  float: right !important;
  border-left: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  border-right: none !important;
}

/* For the RSS and CSV export images */

#ExportLinks {
  margin-top: 50px;
  padding: 10px;
  border-top: 1px solid #eee;
}

/* Headings */

h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 1em 0 0 0;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 0.5em;
}

/* This is needed for the CSS graphs */

.graph {
  position: relative;


/*

IE is dumb */
  width: 200px;
  padding: 2px;
}

.graph .bar {
  display: block;
  position: relative;
  background: #66CC33;
  text-align: center;
  color: #333;
  height: 1em;
  line-height: 1em;
}

.graph .filebar {
  display: block;
  position: relative;
  background: #3181C4;
  text-align: center;
  color: #333;
  height: 1em;
  line-height: 1em;
}

.graph .bar span {
  position: absolute;
  left: 1em;
}

/* Images */

.export_img {
  border: 0;
  vertical-align: middle;
}

/* Alignments (mostly for "things" that need to go into the same cell but
   one with a left alignment and the other with a right alignment) */

.Left {
  float: left;
}

.Right {
  float: right;
  clear: none;
}

/* Filesystem Browser
  Most of this is based on the Source Code Browser CSS and HTML from 
  Collaboa [ http://dev.collaboa.org/ ] */

#Content table.listing {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.listing thead {
  background: #ddd;
}

table.listing th {
  font-size: 11px;
  font-weight: bold;
  padding: 3px 5px;
  vertical-align: bottom;
  text-align: center;
}

table.listing th {
  vertical-align: top;
}

table.listing td {
  vertical-align: middle;
  padding: 0 2px 0 2px;
}

table.listing tr.even, table#browser tr.parent {
  background-color: #fbfbfb;
}

table.listing tr.odd {
  background-color: #f1f1f1;
}

div.events_even {
  background-color: #fbfbfb;
  clear: both;
  display: table;
  width: 100%
}

div.events_odd {
  background-color: #f1f1f1;
  clear: both;
  display: table;
  width: 100%
}

#Content table.listing td {
  padding: 2px;
}

table.listing thead th a.asc {
  background-image: url(/images/sort_asc.png);
  background-repeat: no-repeat;
  padding-right: 10px;
  background-position: 100% 50%;
}

table.listing thead th a.desc {
  background-image: url(/images/sort_desc.png);
  background-repeat: no-repeat;
  padding-right: 10px;
  background-position: 100% 50%;
}

/**
 * Repository browser
 */

#Content table#browser tr td {
  white-space: nowrap;
}

#Content table#browser td.name {
  width: 75%;
}

#Content table#browser td.rev {
  width: 5%;
}

#Content table#browser td.age {
  width: 5%;
}

#Content table#browser td.msg {
  width: 15%;
}

#Content table#browser td.name a {
  padding-left: 25px;
  background-position: 4px 50%;
  background-repeat: no-repeat;
}

#Content table#browser td.server, #Content table#browser td.modified, #Content table#browser td.size, #Content table#browser td.owner_user,
#Content table#browser td.owner_group {
  font-size: 11px;
  text-align: center;
}

#Content table#browser td.msg {
  font-size: 9px;
  color: #666;
}

#Content table#browser td.File a {
  background-image: url(/images/icon_file.png);
}

#Content table#browser td.Dir a {
  background-image: url(/images/icon_folder.png);
}

#Content table#browser td.parent a {
  background-image: url(/images/icon_up.gif);
}