/*
  Base stylesheet
  version: 0.0.1
  
*/

/* Default */

body {
	font-family: "Gill Sans", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	background-color: #f2f2f2;
	/* let's make sure there's no border or padding */
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Structural Elements */

#Container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #f2f2f2; 
}

#Banner {
  
}

#Content {
  padding: 0px;
}

#MainFrame {
  width: 100%;
	background: #fff;
	padding: 5px;
	border: 1px solid #c2c2c2;
}

/*	Tables */
th.highlight {
  border-bottom: 1px solid #8a8a8a;
}

th {
  font-weight: normal;
	text-align: left;
	font-style: italic;
}

tr.shade td {
  background: #fafafa;
}

td {
  padding-left: 4px;
  padding-right: 4px;
}

/* This is needed for the CSS graphs */

.graph { 
    position: relative; /* IE is dumb */
    width: 200px; 
    padding: 2px; 
}
.graph .bar { 
    display: block;
    position: relative;
    background: #66CC33; 
    text-align: center; 
    color: #333; 
    height: 1em; 
    line-height: 1em;            
}

.graph .filebar {
  display: block;
  position: relative;
  background: #3181C4; 
  text-align: center; 
  color: #333; 
  height: 1em; 
  line-height: 1em;            
}
.graph .bar span { position: absolute; left: 1em; }

/* Images */
.img {
  border: 0;
}
