svg { background: #ffffff; }
path.text-path { visibility:hidden; }

textPath { 
  font-size: 2.4pt; 
  text-align: center; 
  writing-mode: lr-tb; 
  text-anchor: middle; 
  alignment-baseline: central; 
  dominant-baseline: central;
}

text { 
  alignment-baseline: central; 
  dominant-baseline: central;
}

circle.current-directory,
.sub-directory
{ 
  fill-opacity: 0;
  stroke: currentColor;  
  stroke-width: 0.1;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-dasharray: none; 
  stroke-opacity: 1;
  }

circle.current-directory 
{ 
  fill-opacity: 1;
  fill: #dddddd;
}

.directory-edge 
{ 
  fill-opacity: 1;
  stroke-opacity: 0;
}

.directory-edge-divider
{ 
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-width: 0.1;
}

path.segment
{ 
  fill-opacity: 1;
  stroke-opacity: 0;
}

.segment-divider
{ 
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke: black;
  stroke-width: 0.1;
}

.segment-link
{ 
  fill-opacity: 0;
  stroke-opacity: 0;
}

text.directory-name 
{ 
  font-size: 2.4pt; 
  font-weight: bold; 
  text-anchor: middle; 
  alignment-baseline: central; 
  dominant-baseline: central;
}

text.directory-size 
{ 
  font-size: 2.4pt; 
  text-anchor: middle; 
  alignment-baseline: central; 
  dominant-baseline: central;
}

.file-segment-text,
.directory-segment-text
{ 
  alignment-baseline: central; 
  dominant-baseline: central;
}

.file-segment-text
{ 
  fill: white;
}

.directory-segment-text
{ 
  text-decoration: underline;
  fill: black;
}

circle.server
{ 
  fill: grey;
  fill-opacity: 0.27;
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 0.2;
}

text.server-name
{ 
  font-size: 12pt; 
  font-weight: bold; 
  text-anchor: middle; 
  alignment-baseline: central; 
  dominant-baseline: central;
}

text.server-size
{ 
  font-size: 12pt; 
  text-anchor: middle; 
  alignment-baseline: central; 
  dominant-baseline: central;
}
