<h3>Thank you!</h3>

<p>Thank you for taking the time to fill out this survey. Your input is integral to the development of and effective intranet.  We look forward to launching a new and improved intranet in the near future.</p>

<p>What can you do now? You can go back to <a href="http://admin.rsp.com.au/">the <emphasis>current</emphasis> Intranet homepage</a> (cool, uh?) <tt>;-)</tt></p>
