<h1>Listing servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Update interval</th>
  </tr>
  
<% for server in @servers %>
  <tr>
    <td><%=h server.name %></td>
    <td><%=h server.update_interval %></td>
    <td><%= link_to 'Show', server_path(server) %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
  </tr>
<% end %>
</table>
