<h1>New server</h1>

<%= error_messages_for :server %>

<% form_for(:server, :url => servers_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Update interval</b><br />
    <%= f.text_field :update_interval %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', servers_path %>