<%= render_partial 'browser/breadcrumb_and_filter', nil %>

<div>
  <embed src="<%= url_for :controller => :graph, :action => :show, :params => { :server => @server? @server.name : nil, :path => @directory? @directory.path : nil } %>" width="600" height="600" type="image/svg+xml"/>
</div>
