<h1>Find a File </h1>

Search for a file in the <b>earth</b> database.(* can be used as a wildcard, eg *.rb)
<br />
<br />
<%= start_form_tag :action => 'find'%>
  <%= text_field_tag 'find_value' %>
  <%= submit_tag 'Find' %>
<%= end_form_tag %>

