---

Name:                     <%= @leave['requester'] %>
Office:                   <%= @leave['office'] %>
Group:                    <%= @leave['group'] %>
                          
Type of Leave:            <%= @leave['options'] %>
                          
Leaving Date:             <%= @leave['fromdate'] %>
Date Returning to Office: <%= @leave['todate'] %>
Nº of Hours:              <%= @leave['nhours'] %>


---

