<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag "screen-v_1-0-0" %>

    <!-- for DatePicker html popup -->
    <script type="text/javascript" src="/javascripts/date-picker.js" />
    <!-- for DatePicker html popup -->

    <title><%= @page_title %></title>

<script>

    issbm = false;

</script>    

</head> 

<body>
<div id="Container">

<div id="Banner"></div>

<div id="Content">
  <%= @content_for_layout %>
</div>

</div>
</body>
</html>
