<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<%= javascript_include_tag :defaults %>

<%= stylesheet_link_tag "screen-v_1-0-0" %>

<title>FileSystem Size</title>

</head> 

<body>

<div id="Container">
    
    <div id="Banner">
        <%= link_to(image_tag( "/images/title.gif", { :alt => "RSP Logo", :border => 0 } ), :action => 'index' ) %>
    </div>
    
    <div id="MainFrame">
        
        <%= @content_for_layout %>
        
    </div>
    
</div>

</body>
</html>
