<div id="FormBlock">
<%= form_tag( { :action => 'freight_request' }, { :onSubmit => "return issbm;" } ) %>
  <%= render_partial "freight_form" %>

  <input type="submit" value="Request" onmouseup="issbm=true;" onmouseout="issbm=false;" />

<%= end_form_tag %>
</div>