<h1>Business Forms</h1>

<p>The following Forms are available:
<ul>
<li><%= link_to('Travel Request', :action => 'travel') %></li>
<li><%= link_to('Purchase Request', :action => 'purchase') %></li>
<li><%= link_to('Freight Request', :action => 'freight') %></li>
<li><%= link_to('HR Request Form', :action => 'recruitment') %></li>
<li><%= link_to('Leave Request Form', :action => 'leave') %></li>
<li><%= link_to('Meeting Room Request Form', :action => 'meeting_room') %></li>
</ul>
</p>