<h3>Thank you!</h3>

<p>Your request has been submitted to the BUSINESS GROUP and will be acted upon
soon.</p>

<p>What can you do now? You can go back to <a href="http://admin.rsp.com.au/">the Intranet homepage</a> or 
<a href="<%= url_for :action => "index" %>">submit another Business Request</a>.</p>