<div id="FormBlock">
<%= form_tag( { :action => 'travel_request' }, { :onSubmit => "return issbm;" } ) %>
  <%= render_partial "travel_form" %>

  <input type="submit" value="Request" onmouseup="issbm=true;" onmouseout="issbm=false;" />
  
<%= end_form_tag %>
</div>