/* 
  datepicker styles
  David Lee 2005
  all parts user servicable
*/
.date_picker {
  /* comment out this line to show by default: */
  display: none;
  /* comment out this line to prevent calendar 'floating' over page: */
  /* position: absolute; */
  background-color:white;
  padding: 3px;
  border: 1px solid silver;
}

.date_picker table {
  border:        1px solid silver;
  border-top:    2px solid silver;
  border-bottom: 3px solid silver;
  font-family: verdana, sans-serif;
}
.date_picker th {
  font-size: 10px;
  color: #333;
  text-align: center;
}

.date_picker .day_labels th {
  color: darkgreen;
  font-size: 9px;
  font-weight: normal;
}

.date_picker td {
  width: 18px;
  background-color: #ddd;
  font-size: 9px;
  text-align: right;
}

.date_picker a {
  text-decoration: none;
  border-bottom: 1px dotted silver;
  color: #333;
}

.date_picker a:hover   { color:white ; background-color: black}

.date_picker .cancel_butt { text-align: right; padding-right: 5px }
.date_picker .cancel_butt a {
  font-size: 9px;
  color: gray;
  font-family: verdana, sans-serif;
  text-decoration: none
}
.date_picker .cancel_butt a:hover {
  background-color: gray;
  color: white;
}
