/*
  Screen stylesheet
  version: 1.0.0
  
*/

/* Default */

body {
  font-family: "Gill Sans", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #fff;
}

/* Structural Elements */

#Container {
  
}

#MainFrame {
  
}

#Banner {
  
}

#Breadcrums {
  padding: 10px 0px;
  font-size: 9pt;
}

#Navigation {
  float: left;
  background-color: #eee;
  width: 200px;
  font-size: 10pt;
}

DIV#Navigation > strong {
  border-bottom: 1px solid #000;
}

#Content {
  margin-left: 210px;
}

#FlashGraph {
  text-align: center;
}

#GraphSelection {
  font-size: 10pt;
  text-align: center;
}
