<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'base' %>
	<%=	javascript_include_tag :defaults %>
	<title><%= if @directory then "#{@server.name}:#{@directory.path}/ - Earth"; elsif @server then "#{@server.name}: - Earth"; else "Earth"; end %></title>
	
</head>

<body>

<div id="Container">
	<div id="Banner">
		<!-- Holding Space for a Banner or a Logo -->
	</div>
  <div id="Top">
    <div id="LoginInformation">
      <!-- Place Holder for when we need Login Information -->
    </div>
    <div id="Tabs">
      <div id="TabsInside">
	      <% # We probably should get these from some configuration file or dynamically %>
        <% [
           { :title => "browser", :controller => "browser", :action => "show" }, 
           { :title => "graph",   :controller => "graph",   :action => "index" }, 
           { :title => "files",   :controller => "files",   :action => "index" } ].each_with_index { |item, index| 
        html_class = 'active' if controller.controller_class_name == (item[:controller].capitalize + "Controller") 
              html_style = 'border-left: 1px solid #c2c2c2;' if index == 0 %>
          <%= link_to(item[:title], { :controller => item[:controller], :action => item[:action], :params => {:server => (@server ? @server.name : nil), :path => (@directory ? @directory.path : nil), :filter_user => params[:filter_user], :filter_filename => params[:filter_filename]} }, { :class => html_class, :style => html_style } ) %>
        <%  } %>
      </div>
    </div>
  </div>
  <div id="Content">
    <div id="ContentInside">
  		<%= yield  %>      
    </div>
  <div id="Footer">
    Earth revision <%= strip_svn_variable("$LastChangedRevision$") %>, last modified <%= strip_svn_variable("$Date$") by <%= strip_svn_variable("$Author$") %> %>
  </div>

  </div>

</div>
</body>
</html>
